@import './main-nav.scss';
@import './search.scss';
@import './logo.scss';
@import './hamburger.scss';
@import './main-menu.scss';
@import './mega-menu.scss';

.header {
  position: absolute;
  top: 0;
  z-index: 10;
}