@use '../variables' as variables;

.main-nav {
  margin: 0 -3rem;
  padding: 1.7rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.8rem;
  justify-content: space-between;
  transition: all 0.1s ease;

  .main-menu {
    height: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }

  &.active {
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 0px 0px 1rem 1rem;
    background: variables.$whiteAlpha3;
    backdrop-filter: blur(25px);
    transition: all 0.1s ease;

    .main-menu {
      height: auto;
      max-height: 9999px;
      transition: all 0.3s ease;
    }
  }
}