@use '../variables' as variables;

.heading-text {
  &__heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    background: linear-gradient(90.75deg, variables.$pink1 2.97%, variables.$purple1 55.95%);
    opacity: 0.6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0.2rem;

    @include variables.media-up(xxl) {
      font-size: 4.8rem;
      line-height: 7.2rem;
    }
  }

  &__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: variables.$pinkwhite;

    @include variables.media-up(xxl) {
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }
}